<div class="min-h-screen flex items-center justify-center">
  <div class="container px-4">
    <div class="title-container mb-8">
      <h1
        class="text-5xl font-extrabold lg:text-7xl leading-tight text-primary"
      >
        Contacts
      </h1>
    </div>
    <div class="contact-container">
      <div
        class="skeleton rounded-xl h-48 lg:h-64 flex items-center justify-center"
      >
        <span class="text-gray-500 text-xl lg:text-2xl font-medium"
          >Coming Soon...</span
        >
      </div>
    </div>
  </div>
</div>