<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row gap-12 items-center">
    <img
      src="/about.svg"
      alt="About Nine"
      class="rounded-lg max-w-md hidden lg:block"
      width="900.31"
      height="787"
    />
    <div class="text-left lg:text-left">
      <!-- Align text left on all screens -->
      <h1
        class="text-5xl font-extrabold lg:text-7xl leading-tight text-primary"
      >
        About Me
      </h1>
      <p class="py-4 text-lg text-about-text">
        Hello there! I'm Nine from Thailand, currently studying in Grade 10 at
        Triamudom Suksa School in Bangkok. I enjoy playing games, especially
        strategy, building, and co-op games. Some examples include Stellaris,
        Cities: Skylines, Minecraft, and Overwatch, though I play many others
        too. I'm proficient in Python and JavaScript/TypeScript, with these
        being the languages I'm most comfortable with. Currently, I'm working on
        my personal site/portfolio and the Saiko-Pet Discord bot. In the future,
        I plan to offer services, so feel free to reach out and connect with me!
        I'm most active on Discord, so don't hesitate to drop me a message.
      </p>
      <!-- <button class="btn btn-primary hover:text-white hover:bg-blue-900">
        Contact
      </button> -->
    </div>
  </div>
</div>
